* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.display-container {
    display:flex;
    justify-content: center;
}

.display {
    display: flex;
    margin: 10px;
    padding: 10px;
    width: 100px;
    background-color: aqua;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.digit-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.digit-grid {
    display:flex;
    flex-wrap: wrap;
    width: 300px;
    padding: 5px;
    gap: 10px;
    border: 1px solid black;
}

.digit-grid button {
    flex: 0 0 calc(33.333% - 10px);  /* Each button takes up 1/3 of space minus gap */
    padding: 15px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.button-container {
    display:flex;
    justify-content: center;
    margin: 20px 0;
}

.button-grid {
    flex: 0 0 calc(33.333% - 10px);
    padding: 15px;
    width: 300px;
    gap: 10px;
    flex-wrap: wrap;
    border: 1px solid black
}

.button-grid button {
    flex: 0 0 calc(33.333% - 10px);  /* Each button takes up 1/3 of space minus gap */
    padding: 5px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}